.header {
    padding: 1rem  0 3rem; //1rem on the top, 0 on the left and right, 3rem on the bottom
}

.title {
    color: #000000;
    font-size: 3rem;
    font-family: 'Brush Script MT', cursive;
    text-decoration: none;
}