.header {
    padding: 1rem  0 3rem; //1rem on the top, 0 on the left and right, 3rem on the bottom
}

.title {
    color: #000000;
    font-size: 3rem;
    font-family: 'Brush Script MT', cursive;
    text-decoration: none;
}

strong {
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: -0.5rem;
      right: -0.5rem;
      height: 0.75rem;
  
      // Position the line behind the text so that
      // it is still easily readable
      z-index: -1;
  
      // The SVG is added as an SVG background image
      background-image: url('../assets/underline.svg');
      background-repeat: no-repeat;
  
      // This allows the SVG to flex in size to fit
      // any length of word. If the word is short,
      // the SVG will be stretched vertically, if it
      // is long, the SVG will be stretched horizontally.
      // The jagged nature of this particular SVG works
      // with this transforming.
      background-size: cover;
    }
  }